header {
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: fixed;
  background-color: white;
}

header form {
  display: flex;
  gap: 20px;
  padding: 10px;
}

header select {
  text-transform: capitalize;
  height: 50px;
  width: 100px;
  font-size: 24px;
  padding: 10px;
}

header input {
  width: 300px;
  font-size: 24px;
  padding: 10px;
  height: 100%;
}

header button {
  font-size: 24px;
  width: 100px;
  padding: 10px;
  height: 100%;
}
