* {
  margin: 0px;
}

body {
  background-color: whitesmoke;
  /* font-family: monospace; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
  background-color: #b0afaf;
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.nav-initial {
  color: rgb(145, 1, 1);
}

.nav-option {
  margin: 0.2em 10px;
}

#editor-body {
  background-color: rgb(2, 2, 180);
  height: 90vh;
  width: 100vw;
  padding: 0.5em;
}

#content {
  height: 80vh;
  width: 95vw;
  border: 2px double white;
  color: rgb(1, 255, 1);
  padding: 0.5em;
  font-weight: 400;
}

.string {
  color: rgb(152, 5, 5);
}

.keyword {
  color: white;
}

.symbol {
  color: yellow;
}

.header {
  color: blue;
  background-color: green;
  width: 140px;
}