* {
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: salmon;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  color: blue;
  border: 2px solid black;
  margin: 20px 20px;
  padding: 10px;
  padding-left: 6.7em;
  background-color: yellow;
  text-decoration: underline dashed rgb(3, 115, 3) 5px;
}

h2 {
  font-size: 20px;
  color: rgb(0, 255, 55);
  background-color: beige;
  border: 2px solid rgb(213, 245, 6);
  margin: 20px 0 0 0;
  padding: 0.5em;
}

.dealer {
  margin: 0 0 20px 0;
  background-color: pink;
}

#para1 {
  color: rgb(213, 15, 220);
  border: 2px solid rgb(235, 5, 5);
  padding: 10px;
}

#para2 {
  margin: 0 0 20px 0;
  color: rgb(244, 2, 196);
  border: 2px solid rgb(7, 233, 93);
  padding: 10px;
}