<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokemon</title>
  <link rel="stylesheet" href="/styles/background.css">
  <link rel="stylesheet" href="/styles/colors.css">
  <link rel="stylesheet" href="/styles/card.css">
</head>
<body>
  
  <div class="main">
    <div class="card">
      <div class="img-container"
        style="background: linear-gradient(<% it.pokemon.types.forEach((type)=> {%>var(--<%= type %>), <% }) %>var(--test))"
        ;>
        <img src="<%= it.pokemon.picURL %>" alt="<%= it.pokemon.name %>">
      </div>
      <div class="info-container">
        <div class="header">
          <div class="name">
            <%= it.pokemon.name %>
          </div>
          <div class="types">
            <% it.pokemon.types.forEach((type)=> {%>
              <div>
                <p class="<%= type %>">
                  <%= type %>
                </p>
              </div>
              <% }) %>
          </div>
        </div>
        <table class="stats">
          <tbody>
            <tr class="table-border">
              <td class="parameter">Weight</td>
              <td class="value">
                <%= it.pokemon.stats.weight%>
              </td>
            </tr>
            <tr class="table-border">
              <td class="parameter">Base XP</td>
              <td class="value">
                <%= it.pokemon.stats.baseXP%>
              </td>
            </tr>
            <tr class="table-border">
              <td class="parameter">HP</td>
              <td class="value">
                <%= it.pokemon.stats.hp%>
              </td>
            </tr>
            <tr class="table-border">
              <td class="parameter">Attack</td>
              <td class="value">
                <%= it.pokemon.stats.attack%>
              </td>
            </tr>
            <tr class="table-border">
              <td class="parameter">Defense</td>
              <td class="value">
                <%= it.pokemon.stats.defense%>
              </td>
            </tr>
            <tr>
              <td class="parameter">Speed</td>
              <td class="value">
                <%= it.pokemon.stats.speed%>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>